html {
    font-family: 'Montserrat', sans-serif
}

body {
    margin: 0
}
h1 {
    color: #f08080;
    padding: 0 .25rem;
}
header {
    background-image: url("https://github.com/MarvelousMartin/ZnackovaciJazyky/blob/master/Exercise%201/assets/banner.png?raw=true");
    min-height: 30vh;
    background-size: cover;
    width: 100%;
    display:flex;
}
nav {
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    display: flex;
    padding: 1.5rem 0;
    align-items: center;
}
nav ul {
    font-size: 25px;
    margin: 0 auto;
    padding: 0;
}
nav ul li {
    list-style-type: none;
    padding: .75rem 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;

}
nav ul li i {
    padding: 0 .5rem;
}
main {
    padding: 1.5rem 3rem;
}
#main {
    text-align: center;
    padding: 1.5rem 0;
    max-width: 1100px;
    margin: 0 auto
}
article {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.article_image {
    flex: 0 0 100%;
    display: flex;
}
.article_image img {
    max-width: 110px;
    margin: 0 auto;

}
.article_content {
    flex: 0 0 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;
    box-sizing: border-box;
}

.article_content h2 {
    padding: .25rem 0;
    align-items: center;
}
.article_content h2 i {
    padding: 0 .25rem;
}
.article_content h2 {
    margin: 0;
    flex: 0 0 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}
.article_content p {
    margin: 0;
    flex: 0 0 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}
aside {
    padding: 1.5rem 3rem;
    display: flex;
}
aside form {
    margin: 0 auto;
}
footer {
    padding: 1.5rem 0;
    text-align: center
}
footer p {
    margin: 20px 0 0 0;
    font-size: 35px
}
footer h3 {
    color: #f08080
}
button {
    background-color: white;color: gray;border: 2px solid #f08080;font-size: 18px
}
.btn-showmore {
    padding: 5px 10px;
    margin: 1rem 0;
}
@media only screen and (min-width: 1230px){
    .article_image {
        flex: 0 0 10%;
    }
    .article_content {
        flex: 0 0 90%;
    }
    .article_content h2 {
        text-align: left;
        justify-content: normal;
    }
    .article_content p {
        text-align: left;
        justify-content: normal;
    }
    nav {
        margin-top: auto;
    }
    nav ul li {
        padding: 0 .5rem;
        display: inline-block;
    }


    form {
        display: inline-block
    }


}
